<% provide(:title, 'Медицинские новости') %>

<h3 class="column_headers"><%= @news.title %></h3>

<div class="date_margin">
  Дата публикации:<br>
  <%= @news.created_at.strftime("%d.%m.%Y") %>
</div>

<%= @news.content.html_safe %>

<div class="back_buttons">
    <%= link_to "На Главную", root_url, class: "btn btn-success"%>
</div>




